* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #23252c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  /* display: flex;
  align-items: center; 
   justify-items: center; 
   justify-content: center;
  justify-items: ""; */
  background-color: #1a1b21;
  border-radius: 10px;
}

.Info {
  text-align: center;
}

.photo {
  display: block;
  width:100%;
   /* width: 317px;
  height: 317px;
  top: 44px;
  left: 116px;
  border-radius: 10px, 10px, 0px, 0px; */
  border-radius: 10px 10px 0 0;
}

/* .items {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.name {
  color: #ffffff;
  /* padding-left: 100px; */
  font-family: Inter;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 1em;
  /* padding: 1em 1em; */
}

.Designation {
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  color: #f3bf99;
  font-weight: 400;
  margin-top: 0;
  padding: 1em 1em 1em 1em;
}

.ProfileLink {
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  color: #f5f5f5;
  padding: 1em 1em 1em 1em;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1em 2em;
}

.button {
  min-width: 115px;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5em 0.75em;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  cursor: pointer;
}

.info--icon {
  margin-right: 10px;
}

.email-button {
  width: Fixed (115px);
  height: Hug (34px);
  top: 468px;
  left: 151px;
  padding: 9px, 13px, 9px, 11px;
  border-radius: 6px;
  border: 1px;
  gap: 8px;
  background: #ffffff;
  border: 1px solid #d1d5db;
  box-shadow: 0px 1px 2px 0px #0000000d;
}

.LinkedIn-button {
  width: Fixed (115px);
  height: Hug (34px);
  top: 468px;
  left: 283px;
  padding: 9px, 13px, 9px, 11px;
  border-radius: 6px;
  gap: 8px;
  background: #5093e2;
  box-shadow: 0px 1px 2px 0px #0000000d;
  color: #ffffff;
}

#root {
  max-width: 22em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
  border-radius: 100px;
  margin: 3em;
}

.container {
  padding: 0 2em 2em 2em;
}

.About {
  margin-top: 2em;
}

.about-title {
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  /* background: #F5F5F5; */
  color: #f5f5f5;
  margin-bottom: 0.5em;
}

.about-para {
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: #dcdcdc;
}

.Interests {
  margin-top: 2em;
}

.interests-title {
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #f5f5f5;
  margin-bottom: 0.5em;
}

.interests-para {
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: #dcdcdc;
}

.Footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em 2em;
  background-color: #161619;
  border-radius: 0px, 0px, 10px, 10px;
}

.TwitterLogo {
  width: 25px;
  height: 25px;
  top: 779px;
  left: 189px;
  color: #918e9b;
}

.FacebookLogo {
  width: 25px;
  height: 25px;
  top: 779px;
  left: 238px;
  color: #918e9b;
}

.InstagramLogo {
  width: 25px;
  height: 25px;
  top: 779px;
  left: 287px;
  color: #918e9b;
}

.GithubLogo {
  width: 25px;
  height: 25px;
  top: 779.5px;
  left: 335.5px;
  color: #918e9b;
}
